<footer>
    <section class="container">
        Inventories | Students: Elizabeth Ann Francisco, Christa Faye Reyes, Olha Holovina | © 2022. All rights reserved, I guess))
    </section>
</footer>
</body>
</html>