<footer>
    <section class="container">
        Inventory | Students: Elizabeth Ann Francisco, Christa Faye Reyes, Olha Holovina | © 2022 All rights reserved.
    </section>
</footer>
</body>
</html>