<%- include('partials/header'); -%>

<div class="container mt-5" id="about">
    <h1 class="mt-4">About Page</h1>
    <h2 class="mt-4">Overview</h2>
    <p>This assignment will be done in groups of two to three students. In your groups you will create a
        basic Node.js website that interacts with a database.</p>
    <h2 class="mt-4">Purpose:</h2>
    <p>This assignment will introduce students the basic fundamentals of Node.js including the
        command line, process, request, ejs, express, and MySQL.</p>

    <h2 class="mt-4">Process:</h2>
    <p>You will be building a complete application (to-do list, shopping list, news, etc.) that will run in a
        browser, you should use a database (MySQL) to store your items.</p>
</div>



<%- include('partials/footer'); -%>