<%- include('partials/header'); -%>



<form id="formAdd" action="/add-product-submit" method="post">
    <h1>Add new product</h1>
    <label for="product_name" class="mt-3"> Product name: </label>
    <input type="text" id="product_name" name="product_name" required/><br />

    <label for="category"> Category: </label>
    <input type="text" id="category" name="category" required/><br />

    <label for="quantity"> Quantity: </label>
    <input type="text" id="quantity" name="quantity" required/><br />

    <label for="warehouse"> Warehouse: </label>
    <input type="text" id="warehouse" name="warehouse" required/><br />

    <label for="product_cost"> Product Cost: </label>
    <input type="text" id="product_cost" name="product_cost" required/><br />

    <input type="submit"/>

</form>

<%- include('partials/footer'); -%>